h1 {
  color: #1e00ffd3; /* Красный цвет */
  text-align: center; /* Выравнивание по центру */
  font-size: 24px; /* Размер шрифта */
}
p {
  color: #000000;
  text-align: start;
  font-style: italic;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 0;
}
#url {
  color: #65c323d3;
  text-align: end;
  font-size: 20px;
}
#cat {
  align-self: center;
}
